<!DOCTYPE html>

<head>
  <!-- Meta Tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <%- include ("partials/link.ejs"); -%>
  <title>StartUp</title>
</head>

<body>
  <%- include ("partials/navbar.ejs"); -%>
  <!-- Starting with the 1st Image -->
  <div class="mainpageimage">
    <img src="images/photo-1522071820081-009f0129c71c.jpeg" alt="firstImage">
    <div class="mainpage-text  col-sm-4 offset-sm-7">
      <p class="text-white" id="firstimagetext">EASILY START AND GROW YOUR BUSINESS AND ALSO GET A CHANCE TO
        INVEST IN INDIA'S BEST PROJECTS</p>
      <button class="btn btn-dark btn-lg text-white">Join Now</button>
    </div>

  </div>
  <!-- End -->
  <!-- Getting Started -->
  <div class="container">
    <div class="row mt-5 mb-5">
      <div class="col-12 col-md-6 d-none d-sm-block">
        <img src="images/wait.png" height="300px" width="500px">
      </div>
      <div class="col-12 col-md-6 align-self-center bg-light">
        <h2>Getting Started</h2>
        <p>Learn about how you can get your business started with us.</p>
        <p>Join us in campaign, for providing job to each and every individual.</p>
        <p>Become our plus member and get an opportnity to avail the benefits</p>
        <p>Learn how to launch or grow your business by working with like-minded start-up enthusiasts.</p>
      </div>
    </div>
  </div>
  <!-- End -->


  <div class="row justify-content-center">
    <h4 class="text-muted">START | BUILD | GROW</h4>
  </div>


  <div class="container">
    <div class="media mt-5 mb-5">
      <div class="media-body" id="why-startup">
        <div class="row no gutters">
          <div class="col-12 col-sm-7">
            <div class="mt-2  pl-5">
              <h2 class="mb-3 d-flex">Why StartUp India?</h2>
              <p><i class="fas fa-check"></i> Everything you need to start & grow in one place</p>
              <p><i class="fas fa-check"></i> Invest into the best projects</p>
              <p><i class="fas fa-check"></i> Save thousands on business tools & services</p>
              </p>
              <p><i class="fas fa-check"></i> Accelerate your business to the next level</p>
            </div>
          </div>
          <div class="col-12 col-sm mt-4 mr-2 mb-2 d-none d-sm-block">
            <img class="d-flex float-right img-thumbnail" src="images/why-startup.jpg" alt="Why Start Up">
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Footer Content -->

  <%- include ("partials/footer.ejs"); -%>
  <!-- End of footer -->
</body>

</html>